{% extends 'AppBundle::base.html.twig' %}

{% block body %}
    <div class="grid">
        <div class="g 3/4@xl">
            <h1 class="b g-unit">{{ security.isin }}
                {% if issuer %}
                    <span class="invisible"> - {{ issuer.name }}</span>
                {% endif %}
            </h1>
            {% include securityPresenter.templatePath with securityPresenter.vars only %}
        </div>
        <div class="g 1/4@xl">
            <div class="card card--padded g-unit ">
                <h2 class="d g-unit">ISIN Analytics is the gateway to London’s debt capital markets.</h2>
                <ul class="list--spaced list--unstyled">
                    {% if product %}
                    <li>
                        <a class="link--button link--block text--center" href="{{ path(
                                'overview_securities',
                                { product: product.number }
                        ) }}">
                            See more {{ product.name }}
                        </a>
                    </li>
                    {% endif %}
                    <li>
                        <a class="link--button link--block text--center" href="{{ path('overview_securities') }}">
                            Browse all securities
                        </a>
                    </li>
                </ul>
            </div>
            {% include adverts.templatePath with adverts.variantVars('isin') only %}
        </div>
    </div>
{% endblock %}
