<div class="text--center pagination g-unit">
{% if pagination.showStatus %}
    <p class="pagination__status g-unit">Showing {{ pagination.start }} - {{ pagination.end }} of {{ pagination.total }}</p>
{% endif %}
{% if pagination.isActive %}
    <nav>
        <ol class="pagination__list list--unstyled list--inline">
            <li>{%
                if pagination.prevUrl %}
                    <a class="link--button mdl-button mdl-js-button mdl-button--raised mdl-button--accent mdl-js-ripple-effect"
                       href="{{ pagination.prevUrl }}">
                        Previous
                    </a>
                {% else %}
                    <span disabled class="mdl-button mdl-js-button mdl-button--raised">Previous</span>
                {% endif
                %}</li>
            <li>{%
                if pagination.nextUrl %}
                    <a class="link--button mdl-button mdl-js-button mdl-button--raised mdl-button--accent mdl-js-ripple-effect"
                       href="{{ pagination.nextUrl }}">
                        Next
                    </a>
                {% else %}
                    <span disabled class="mdl-button mdl-js-button mdl-button--raised">Next</span>
                {% endif
                %}</li>
        </ol>
    </nav>
{% endif %}
</div>