{% extends 'AppBundle::base.html.twig' %}

{% block body %}
    <h1 class="g-unit">{{ currency.code }}</h1>
    {% if hasData %}
        <div class="grid">
            <div class="g 1/3@l">
                <div class="panel text--center">
                    <h2 class="d">Latest value</h2>
                    <p class="a text--truncate">${{ latestRate }}</p>
                    <p class="e">{{ latestDate }}</p>
                </div>
            </div>
            <div class="g 1/2@m 1/3@l">
                <div class="panel text--center">
                    <h2 class="d">Change</h2>
                    {% if changeRate %}
                    <p class="a text--truncate">{{ changeRate }}</p>
                    <p class="e">since {{ changeDate }}</p>
                    {% else %}
                    <p>No data</p>
                    {% endif %}
                </div>
            </div>
            <div class="g 1/2@m 1/3@l">
                <a href="{{ path('overview_securities', securitiesLinkParams) }}"
                   class="panel text--center">
                    <h2 class="d">Total Securities</h2>
                    <p class="a">{{ securitiesCount }}</p>
                </a>
            </div>
            <div class="g 1/2@l">
                <div>
                    <h2 class="g-unit">Last 100 days</h2>
                    <canvas id="ex-rates-recent-chart"><p class="text--center">Drawing graph...</p></canvas>
                </div>
            </div>
            <div class="g 1/2@l">
                <div>
                    <h2 class="g-unit">Last 10 years</h2>
                    <canvas id="ex-rates-decade-chart"><p class="text--center">Drawing graph...</p></canvas>
                </div>
            </div>
            <div class="g">
                <div>
                    <h2>By year</h2>
                    <p class="g-unit">Choose a year to see the rates in more detail</p>
                    <div class="grid">
                        {% for year in linkableYears %}
                            <div class="g 1/2@s 1/3@m 1/4@l 1/5\@xxxl text--center a">
                                <a class="panel" href="{{ path('currencies_show_year', year.hrefParams) }}">{{ year.text }}</a>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
            <div class="g">
                <h2 class="g-unit">Securities</h2>
                {% if hasSecurities %}
                    {% include '@partials/securities-list.html.twig' %}
                    <p class="text--right">
                        <a class="link--button" href="{{ path('overview_securities', securitiesLinkParams) }}">
                            See all securities for {{ currency.code }}
                        </a></p>
                {% else %}
                    <p>There are no securities for this currency</p>
                {% endif %}
            </div>
        </div>




        <script>
            (function() {
                var ctxRecent = document.getElementById('ex-rates-recent-chart').getContext('2d'),
                    ctxDecade = document.getElementById('ex-rates-decade-chart').getContext('2d'),
                    settingsRecent = {{ recentGraph|json_encode|raw }},
                    settingsDecade = {{ decadeGraph|json_encode|raw }};

                settingsRecent = setTooltips(settingsRecent);
                settingsDecade = setTooltips(settingsDecade);

                new Chart(ctxRecent, settingsRecent);
                new Chart(ctxDecade, settingsDecade);

                function setTooltips(settings) {
                    settings.options.scales.yAxes[0].ticks.callback = function (value) {
                        return settings.options.axisFormat.replace('#', value.toFixed(4));
                    };

                    settings.options.tooltips.callbacks.label = function (tooltipItem, data) {
                        return data.datasets[tooltipItem.datasetIndex].label + ': ' +
                                settings.options.axisFormat.replace('#', tooltipItem.yLabel);
                    };
                    return settings;
                }
            })();
        </script>
    {% elseif isBase %}
        <p>US Dollars are the Base Rate for currency conversions. Therefore, this will always be the same</p>
        <div class="grid">
            <div class="g 1/2@s">
                <div class="panel text--center">
                    <h2 class="d">Latest value</h2>
                    <p class="a">$1.00000000</p>
                </div>
            </div>
        </div>
    {% else %}
        <p>No data has been collected for this currency</p>
    {% endif %}
{% endblock %}
