{% extends 'AppBundle::base.html.twig' %}


{% block body %}
<div class="grid">
    <div class="g 4/5@xxxl 5/6@max">
        <div><div class="grid">
        <div class="g 3/5@xl">
            <div class=" g-unit">
                <div class="grid g--align-center">
                    <div class="g">
                    <h1 class="invisible">ISIN Analytics - The Guide to London's Debt Capital Markets</h1>
                    <p class="d g-unit">
                        Welcome to ISIN Analytics. This is the gateway to London’s debt capital markets.
                        Browse the site for ISIN, company, sector or industry information relating to:
                    </p>
                    </div>
                    <div class="g 1/2@m">
                        <div class="g-central" style="max-width: 280px">
                            <canvas id="group-products" height="280"></canvas>
                        </div>
                        <script>
                            var ctx = document.getElementById('group-products').getContext('2d');
                            var myDoughnutChart = new Chart(ctx, {
                                type: 'doughnut',
                                data: {
                                    labels: {{ chartHeadings|json_encode|raw }},
                                    datasets: [{
                                        data: {{ productsDataset|json_encode|raw }},
                                        backgroundColor: {{ chartColours|json_encode|raw }},
                                        hoverBorderColor: "#999",
                                        hoverBackgroundColor: {{ chartColours|json_encode|raw }}
                                    }]
                                },
                                options: {
                                    legend : {
                                        display: false
                                    },
                                    responsive: true,
                                    elements : {
                                        arc: {
                                            borderColor: '#ddd'
                                        }
                                    }
                                }
                            });
                        </script>
                    </div>
                    <div class="g 1/2@m">
                        <ul class="legend legend--stacked">
                            {% for productItem in products %}
                                <li>
                                    <div class="legend__item">
                                        <span class="legend__icon" style="background-color:{{ productItem.colour }}"></span>
                                    <span class="legend__text">
                                        <a class="home-intro-button" href="{{
                                        path('overview_securities', { product : productItem.product.number })
                                        }}">{{ productItem.product.name }}</a>
                                    </span>
                                    </div>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                    <div class="g">
                    <p class="g-unit">
                        Please read the
                        <a href="{{ path('terms') }}">Terms and Conditions of Access of the Website</a>.
                        All enquiries should be directed to
                        <a href="mailto:contact@isinanalytics.com">contact@isinanalytics.com</a>.
                    </p>
                    </div>
                </div>
            </div>
            <div class="g-unit">
                {% include adverts.templatePath with adverts.variantVars('overview') only %}
            </div>
            {% if securities %}
                <div class="">
                    <h2 class="g-unit">Recent Issuance</h2>
                    {% include '@partials/securities-list.html.twig' %}
                </div>
            {% endif %}
        </div>
        <div class="g 2/5@xl">
            <div>
            <div class="grid">
                <div class="g 1/2@l">
                    <div class="island color-box--subtle text--center">
                        <a href="{{ path('overview_securities') }}">
                            Total securities<br />
                            <span class="a">{{ securitiesCount }}</span>
                        </a>
                    </div>
                </div>
                <div class="g 1/2@l">
                    <div class="island color-box--subtle text--center">
                        <a href="{{ path('group_list') }}">
                            Total issuers<br />
                            <span class="a">{{ issuersCount }}</span>
                        </a>
                    </div>
                </div>
            </div>
            <div class="color-grey-lightest island g-unit">
                <h2 class="g-unit">Top 5 currencies (year to date)</h2>
                <div>
                    <canvas id="top10-currencies" height="200"></canvas>
                </div>
                <script>
                    var ctx = document.getElementById('top10-currencies').getContext('2d');
                    var myDoughnutChart = new Chart(ctx, {
                        type: 'horizontalBar',
                        data: {
                            labels: {{ currencyChartHeadings|json_encode|raw }},
                            datasets: [{
                                data: {{ currencyChartData|json_encode|raw }},
                                backgroundColor: {{ chartColours|json_encode|raw }},
                                hoverBorderColor: "#999",
                                hoverBackgroundColor: {{ chartColours|json_encode|raw }}
                            }]
                        },
                        options: {
                            axisFormat : '£#m',
                            legend : {
                                display: false
                            },
                            responsive: true
                        }
                    });
                </script>
            </div>
            <div class="color-grey-lightest island">
                <h2 class="g-unit">Top 5 industries (year to date)</h2>
                <div>
                    <canvas id="top10-industries" height="200"></canvas>
                </div>
                <script>
                    var ctx = document.getElementById('top10-industries').getContext('2d');
                    var myDoughnutChart = new Chart(ctx, {
                        type: 'horizontalBar',
                        data: {
                            labels: {{ industryChartHeadings|json_encode|raw }},
                            datasets: [{
                                data: {{ industryChartData|json_encode|raw }},
                                backgroundColor: {{ chartColours|json_encode|raw }},
                                hoverBorderColor: "#999",
                                hoverBackgroundColor: {{ chartColours|json_encode|raw }}
                            }]
                        },
                        options: {
                            axisFormat : '£#m',
                            legend : {
                                display: false
                            },
                            responsive: true
                        }
                    });
                </script>
            </div>
            </div>
        </div>
        </div></div>
    </div>
    <div class="g 1/5@xxxl 1/6@max">
        {% include adverts.templatePath with adverts.variantVars('overview') only %}
    </div>
</div>
{% endblock %}
