{% extends 'AppBundle::newbase.html.twig' %}

{% block body %}

<div class="text--prose">
    <h1>Style Guide</h1>
    <p>
        This page shows all of the design components that make up this site.
    </p>

    <ul>
        <li>
            <a href="#core">Core</a>
            <ul>
                <li><a href="#core-colours">Colours</a></li>
                <li><a href="#core-colour-boxes">Colour boxes</a></li>
                <li><a href="#core-typography">Typography</a></li>
                <li><a href="#core-breakpoints">Breakpoints</a></li>
                <li><a href="#core-grid">Grid</a></li>
            </ul>
        </li>
        <li>
            <a href="#atoms">Atoms</a>
            <ul>
                <li><a href="#atoms-text">Text</a></li>
                <li><a href="#atoms-messages">Messages</a></li>
                <li><a href="#atoms-lists">Lists</a></li>
                <li><a href="#atoms-island">Island</a></li>
                <li><a href="#atoms-buttons">Buttons</a></li>
            </ul>
        </li>
        <li>
            <a href="#molecules">Molecules</a>
            <ul>
                <li><a href="#molecules-tables">Tables</a></li>
                <li><a href="#molecules-forms">Forms</a></li>
            </ul>
        </li>
        <li>
            <a href="#organisms">Organisms</a>
            <ul>
                <li><a href="#organisms-charts">Charts</a></li>
            </ul>
        </li>
    </ul>

    <h2 id="core">Core</h2>
    <p>
        The core styles are generically applied across the whole application
    </p>

    <h3 id="core-colours">Colours</h3>
    <p>
        There are several colours in use. They are accessible via Sass variables and classes.
    </p>
    {% set colorExamples = [
        {
            'brand'         : 'Brand colour',
            'black'         : 'Black',
            'white'         : 'White',
        },
        {

            'grey-darkest'  : 'Darkest Grey',
            'grey-dark'     : 'Dark Grey',
            'grey-mid'      : 'Mid Grey',
            'grey-light'    : 'Light Grey',
            'grey-lightest' : 'Lightest Grey',

        },
        {
            'primary-dark'  : 'Primary Dark',
            'primary-mid'   : 'Primary Mid',
            'primary-light' : 'Primary Light',
        },
        {
            'secondary-dark'  : 'Secondary Dark',
            'secondary-mid'   : 'Secondary Mid',
            'secondary-light' : 'Secondary Light',
        },
        {
            'tertiary-dark'  : 'Tertiary Dark',
            'tertiary-mid'   : 'Tertiary Mid',
            'tertiary-light' : 'Tertiary Light',
        },
        {
            'complimentary-dark'  : 'Complimentary Dark',
            'complimentary-mid'   : 'Complimentary Mid',
            'complimentary-light' : 'Complimentary Light'
        }
    ]%}
    {% for row in colorExamples %}
        <div class="grid">
            {% for key, title in row %}
                <div class="g 1/2 1/3@m 1/4@xl 1/6@xxl">
                    <div class="sg__color">
                        <div class="sg__color-box color-{{ key }}"></div>
                        <div class="sg__color-title">
                            {{ title }}<br />
                            <code>$color-{{ key }}</code><br />
                            <code>.color-{{ key }}</code>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    {% endfor %}

    <h3 id="core-colour-boxes">Colour boxes</h3>
    <p>
        There are boxes of colour that generally sit together. These consist of a background, a text colour, a link
        colour, and a link hover color. The <code>.color-box--body</code> styles are applied to the whole body by
        default. A box also has a keyline colour. That will be applied to the border of any element within that has
        the <code>.keyline</code> class.
    </p>

    <div class="grid">
        {% set colourBoxExamples = [
            'body',
            'brand',
            'subtle'
        ] %}
        {% for box in colourBoxExamples %}
        <div class="g 1/2@s 1/4@xl">
            <div class="color-box--{{ box }} island">
                <p class="sg__color-box-line keyline">
                    This is the {{ box }} box. <a href="#">Here is a link</a><br />
                    This is a keyline:
                </p>
                <code>.color-box--{{ box }}</code>
            </div>
        </div>
        {% endfor %}
    </div>

    <h3 id="core-typography">Typography</h3>
    <p>
        Typography is the display of text at appropriate sizes and in appropriate fonts. All automatic margins
        and paddings have been removed, as the vast majority of usage does not require them.
    </p>

    <p>
        There are two font choices for this site:
    </p>
        <ul>
            <li>
                <span class="font-heading">Georgia</span> (with serif fallback).<br />
                Used on headings and the logo. Usually with a weight of 200, except for small text where it is 600.
            </li>
            <li>
                Source Sans Pro (with sans-serif fallback).<br />
                Used for main text with a weight of 500. Can be made bold to weight 600.
            </li>
        </ul>
    <p>
        Typography sizes are defined on a scale. They are mapping using classes. Headings automatically receive
        the styles for the appropriate size.
    </p>

    <table class="table table--striped">
        <thead>
        <tr>
            <th>Semantic element(s)</th>
            <th>Class for body style</th>
            <th>Class for heading style</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td><code>{{ '<h1>'|escape }}</code></td>
            <td><code>.a</code></td>
            <td><code>.h1</code></td>
        </tr>
        <tr>
            <td><code>{{ '<h2>'|escape }}</code></td>
            <td><code>.b</code></td>
            <td><code>.h2</code></td>
        </tr>
        <tr>
            <td><code>{{ '<h3>'|escape }}</code></td>
            <td><code>.c</code></td>
            <td><code>.h3</code></td>
        </tr>
        <tr>
            <td><code>{{ '<h4>'|escape }}</code></td>
            <td><code>.d</code></td>
            <td><code>.h4</code></td>
        </tr>
        <tr>
            <td><code>{{ '<h5>'|escape }}</code> <code>{{ '<p>'|escape }}</code></td>
            <td><code>.e</code></td>
            <td><code>.h5</code></td>
        </tr>
        <tr>
            <td><code>{{ '<h6>'|escape }}</code> <code>{{ '<small>'|escape }}</code></td>
            <td><code>.f</code></td>
            <td><code>.h6</code></td>
        </tr>
        </tbody>
    </table>

    {% set typoExamples = {
        'a' : 'h1',
        'b' : 'h2',
        'c' : 'h3',
        'd' : 'h4',
        'e' : 'h5',
        'f' : 'h6'
    } %}

    {% for size, h in typoExamples %}

    <div class="sg__example">
        {% set example = '<p class="' ~ h ~ '">Size ' ~ size ~ '</p>
<p class="' ~ size ~ '">Lorem ipsum dolor sit amet, consectetur adipiscing elit.
Nunc mattis, ipsum non lacinia eleifend, nulla erat fringilla dolor, a elementum eros diam ac sapien.</p>

<p class="' ~ size ~ '">Fusce aliquam lectus ante, vel rutrum orci placerat vel. Donec
viverra, neque eu pretium rhoncus, diam nisi maximus antabitant morbi.</p>' %}
        <div class="grid">
            <div class="g 1/2@xl">
                <div>
                {{ example|raw }}
                </div>
            </div>
            <div class="g 1/2@xl">
                <pre><code>{{ example }}</code></pre>
            </div>
        </div>
    </div>

    {% endfor %}

    <h3 id="core-breakpoints">Breakpoints</h3>

    <h3 id="core-grid">Grid</h3>

    <div class="grid">
        <div class="g 1/2@xl">
            <div class="island">.1/2@xl</div>
        </div>
        <div class="g 1/2 1/4@xl">
            <div class="island">.1/2 .1/4@xl</div>
        </div>
        <div class="g 1/2 1/4@xl">
            <div class="island">.1/2 .1/4@xl</div>
        </div>
        <div class="g 1/3@m 1/2@xl">
            <div class="island">.1/3@m .1/2@xl</div>
        </div>
        <div class="g 1/2 1/3@m 1/2@xl">
            <div class="island">.1/2 .1/3@m .1/2@xl</div>
        </div>
        <div class="g 1/2 1/3@m 1/1@xl">
            <div class="island">.1/2 .1/3@m .1/1@xl</div>
        </div>
    </div>

    <h2 id="atoms">Atoms</h2>
    <p>
        These are single responsibility classes for tiny concepts.
    </p>

    <h3 id="atoms-text">Text</h3>
    <h4><code>.text--prose</code></h4>
    <p>
        As all margins and paddings have been removed, large pages of text (such as this one) would become unreadable.
        To restore a readable flow wrap the content with the class <code>.text--prose</code>
    </p>
    <div class="sg__example">
    {% set example = '<div class="text--prose">
    <h2>Properly formatted heading</h2>
    <p>
        Properly spaced text
    </p>
    <ul>
        <li>Properly</li>
        <li>Spaced</li>
        <li>List</li>
    </ul>
</div>' %}
        <div class="grid">
            <div class="g 1/2@xl">
                {{ example|raw }}
            </div>
            <div class="g 1/2@xl">
                <pre><code>{{ example }}</code></pre>
            </div>
        </div>
    </div>

    <h3 id="atoms-messages">Messages</h3>
    <p>
        A message is a notice that can be shown to the user. There are four types: info, ok, warning, &amp; error.
    </p>
    <div class="sg__example">
        {% set example =
'<div class="message message--info">This is the info message</div>
<div class="message message--ok">This is the ok message</div>
<div class="message message--warning">This is the warning message</div>
<div class="message message--error">This is the error message</div>' %}
        <div class="grid">
            <div class="g 1/2@xl">
                <div>
                    {{ example|raw }}
                </div>
            </div>
            <div class="g 1/2@xl">
                <pre><code>{{ example }}</code></pre>
            </div>
        </div>
    </div>

    <h3 id="atoms-lists">Lists</h3>

    <h3 id="atoms-island">Island</h3>

    <h3 id="atoms-buttons">Buttons</h3>

    <h2 id="molecules">Molecules</h2>
    <p>
        These are shared combinations of classes to create a common layout,
        but are not a complex entity. They are not expected particular content within them.
        They may make use of several atoms.
    </p>

    <h3 id="molecules-tables">Tables</h3>
    <p>
        There are many tables.
    </p>
    <table class="table table--striped">
        <thead>
        <tr>
            <th>Col1</th>
            <th>Col2</th>
            <th>Col3</th>
        </tr>
        </thead>
        <tbody>
        <tr onclick="alert('Clicked row 1')"><td>A</td><td>B</td><td>C</td></tr>
        <tr onclick="alert('Clicked row 2')"><td>D</td><td>E</td><td>F</td></tr>
        <tr onclick="alert('Clicked row 3')"><td>G</td><td>H</td><td>I</td></tr>
        <tr onclick="alert('Clicked row 4')"><td>J</td><td>K</td><td>L</td></tr>
        </tbody>
    </table>


    <h3 id="molecules-forms">Forms</h3>


    <h2 id="organisms">Organisms</h2>
    <p>
        These are complete, complex objects, containing many sub-objects.
        They are usually closely linked with the data contained within them.
        They may make use of several atoms / molecules.
    </p>

    <h3 id="organisms-charts">Charts</h3>

</div>
{% endblock %}