<div class="table-container">
<div class="table-wrap">
<table class="table table--striped table--issuance">
    <thead>
    <tr>
        {% for heading in issuancetable.headings %}
            <th>{{ heading }}</th>
        {% endfor %}
    </tr>
    </thead>
    <tbody>
    {% for i, row in issuancetable.rows %}
        <tr>
            {% for j, col in row %}
                <{{ col.element }}>
                    {% if col.link %}
                        <a data-index="{{ i }}-{{ j }}" href="{{ path(col.link.path, col.link.params) }}">
                    {% endif %}

                    {% if col.presenter %}
                        {% include col.presenter.templatePath with col.presenter.vars only %}
                    {% else %}
                        {{ col.text }}
                    {% endif %}

                    {% if col.link %}
                        </a>
                    {% endif %}
                </{{ col.element }}>
            {% endfor %}
        </tr>
    {% endfor %}
    </tbody>
</table>
</div>
</div>