<form method="get">
    <div class="grid">
        <div class="g">
            {% if filter.activeIssueDate %}
                <div class="message text--center">
                    Showing only securities issued between
                    {{ filter.activeIssueDate.start.format('d M Y') }} and  {{ filter.activeIssueDate.displayEnd.format('d M Y') }}.
                    <button type="submit" class="btn">X Remove date filter</button>
                </div>
            {% endif %}
        </div>
        <div class="g 1/4@xl">
            <h2 class="c">Filter:</h2>
        </div>
        <div class="g 3/4@xl">
            <div>
                <p>
                    <label>
                    Product: <select name="product">
                        <option value="">All</option>
                        {% for product in filter.products %}
                            <option value="{{ product.number }}"
                                    {% if filter.activeProduct == product.id %}
                                        selected
                                    {% endif %}
                            >{{ product.name }}</option>
                        {% endfor %}
                    </select>
                    </label>
                </p>
                <p>
                    <label>
                        Currency: <select name="currency">
                            <option value="">All</option>
                            {% for currency in filter.currencies %}
                                <option value="{{ currency.code }}"
                                        {% if filter.activeCurrency == currency.code %}
                                            selected
                                        {% endif %}
                                >{{ currency.code }}</option>
                            {% endfor %}
                        </select>
                    </label>
                </p>
                {#<p>
                    <label>
                        Maturity Date: <select name="bucket">
                            <option value="">Any</option>
                            {% for bucket in filter.buckets %}
                                <option value="{{ bucket.key }}"
                                        {% if filter.activeBucket == bucket.key %}
                                            selected
                                        {% endif %}
                                >{{ bucket.name }}</option>
                            {% endfor %}
                        </select>
                    </label>
                </p>#}
                <p>
                    <button type="submit" class="btn">Update filter{% if filter.activeIssueDate %} (will remove date){% endif %}</button>
                </p>
            </div>
        </div>
    </div>
</form>