<h2>Filter</h2>
<form method="get">
    <div class="grid">
        {% if filter.activeIssueDate %}
            <div class="g">
                <div class="message text--center">
                    Showing only securities issued between
                    {{ filter.activeIssueDate.start.format('d M Y') }} and
                    {{ filter.activeIssueDate.displayEnd.format('d M Y') }}.
                    <button type="submit" class="btn">X Remove date filter</button>
                </div>
            </div>
        {% endif %}
        {% if filter.activeBucket %}
            <div class="g">
                <div class="message text--center">
                    Showing only securities due to mature {{ filter.activeBucket }}
                    <button type="submit" class="btn">X Remove filter</button>
                </div>
            </div>
        {% endif %}
        <div class="g 3/7@xl">
            <p>
                Use the filter to narrow the query
            </p>
        </div>
        <div class="g 4/7@xl">
            <div class="text--right">
                <h3 class="c invisible">Filter:</h3>
                <p>
                    <label>
                    <strong>Product: </strong><select name="product">
                        <option value="">All</option>
                        {% for product in filter.products %}
                            <option value="{{ product.number }}"
                                    {% if filter.activeProduct == product.id %}
                                        selected
                                    {% endif %}
                            >{{ product.name }}</option>
                        {% endfor %}
                    </select>
                    </label>
                    <label>
                        <strong>Currency: </strong><select name="currency">
                            <option value="">All</option>
                            {% for currency in filter.currencies %}
                                <option value="{{ currency.code }}"
                                        {% if filter.activeCurrency == currency.code %}
                                            selected
                                        {% endif %}
                                >{{ currency.code }}</option>
                            {% endfor %}
                        </select>
                    </label>
                {#<p>
                    <label>
                        Maturity Date: <select name="bucket">
                            <option value="">Any</option>
                            {% for bucket in filter.buckets %}
                                <option value="{{ bucket.key }}"
                                        {% if filter.activeBucket == bucket.key %}
                                            selected
                                        {% endif %}
                                >{{ bucket.name }}</option>
                            {% endfor %}
                        </select>
                    </label>
                </p>#}
                <button type="submit" class="link--button">Update</button>
            </div>
        </div>
    </div>
</form>