{% extends 'AppBundle::base.html.twig' %}

{% use "AppBundle::entities/_base.html.twig" %}

{% block content %}
    <div class="grid g-unit">
        <div class="g 1/2@m">
            <h1 class="c"><span class="invisible">{{ block('context') }} - </span>{{ pageTitle }}</h1>
        </div>
        {% if hasData %}
            <div class="g 1/2@m">
                <ul class="list--inline text--right">
                    <li><a class="link--button
                        {% if issuanceView == 'monthly' %}
                            link--invert-active
                        {% endif %}" href="{{ monthlyPath }}">Monthly</a></li>
                    <li><a class="link--button
                        {% if issuanceView == 'ytd' %}
                            link--invert-active
                        {% endif %}" href="{{ ytdPath }}">Year to date</a></li>
                </ul>
            </div>
            <div class="g">
                <div class="text--prose">
                    <p>
                        This issuance shows the amount raised
                            {% if entity %} for <strong>{{ entity.name }}</strong> {% endif %}.
                        {% if issuanceView == 'monthly' %}
                            Click any data set to see the full list of securities for that month.
                        {% endif %}
                    </p>
                </div>
            </div>
            <div class="g">
                {% include issuanceGraph.templatePath with issuanceGraph.vars only %}
            </div>
            <div class="g">
                {% include issuanceTable.templatePath with issuanceTable.vars only %}
            </div>
        {% else %}
            <div class="g">
                <div class="text--prose">
                    <p>
                        There is no recent issuance data
                        {% if entity %}for <strong>{{ entity.name }}</strong>{% endif %}
                    </p>
                </div>
            </div>
        {% endif %}
    </div>
{% endblock %}
