{% extends 'AppBundle::base.html.twig' %}

{% use "AppBundle::groups/_base.html.twig" %}

{% block content %}
    {#
    COMING LATER

    <h2>Yield</h2>
    <div>
        {% if hasData %}
            <p class="g-unit">Currency: TBC</p>
            <div class="grid g-unit">
                <div id="chart-area" class="g g--align-center" style="height: 400px">
                    <p class="text--center">Drawing graph...</p>
                </div>
            </div>
            <noscript>
            <table class="table table--striped" id="chart-table">
                <thead>
                    <th>Year</th>
                    {% for year in years %}
                        <th>{{ year }}</th>
                    {% endfor %}
                </thead>
                <tbody>
                    {% for row in graphData %}
                        <tr>
                            {% for column in row %}
                                <td>{{ column }}</td>
                            {% endfor %}
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
            </noscript>
            <script>
                google.charts.setOnLoadCallback(drawChart);
                function drawChart() {
                    var data = new google.visualization.DataTable(),
                        options = {
                            height: 400,
                            curveType: 'function',
                            legend: {position:'top'},
                            axisTitlesPosition: 'out',
                            lineWidth: 6,
                            pointSize: 0,
                            vAxis: {
                                title: '%'
                            },
                            hAxis: {
                                title: 'Year',
                                maxValue: 30
                            },
                            backgroundColor: 'transparent',
                            colors: ['#3a0676','#6B4498','#CEC1DD'],
                            chartArea: {
                                left: 64,
                                top: 24,
                                height: 324,
                                width: '92%'
                            },
                            pointsVisible: true
                        },
                        years = {{ years|json_encode|raw }},
                        rows = {{ graphData|json_encode|raw }},
                        len = rows.length,
                        chart, i, largest = 0;
                    data.addColumn('number', 'Year');
                    for (i=0;i<years.length;i++) {
                        data.addColumn('number', years[i]);
                    }
                    data.insertRows(0, [rows[0]]);

                    options.vAxis.maxValue = Math.ceil({{ largestPoint }});
                    options.vAxis.minValue = 0;

                    chart = new google.visualization.LineChart(document.getElementById('chart-area'));
                    chart.draw(data, options);

                    function addRow(row) {
                        data.insertRows(row, [rows[row]]);
                        chart.draw(data, options);
                        row++;
                        if (row < len) {
                            setTimeout(function() {
                                addRow(row);
                            },1);
                        } else {
                            options.pointSize = 12;
                            chart.draw(data, options);
                        }
                    }

                    setTimeout(function() {
                        addRow(1);
                    },50)
                }
            </script>
        {% else %}
            <p>No data available for {{ group.name }}</p>
        {% endif %}
    </div>
    #}
{% endblock %}
