{% extends 'AppBundle::base.html.twig' %}

{% use "AppBundle::admin/_base.html.twig" %}

{% block content %}
    <h1 class="b g-unit">Dashboard</h1>
    <div class="grid">

        <div class="g 7/12@m">
            <div class="card card--padded">
                <h2 class="c g-unit">Latest exchange rates</h2>
                {% include '@partials/_exchange-rates-table.html.twig' %}
            </div>
        </div>
        <div class="g 5/12@m">
            <div class="card card--padded">
                <h2 class="g-unit c">Stats</h2>
                <table class="table table--lined">
                    <tbody>
                    <tr><th>Total Securities</th><td>{{ statsAll }}</td></tr>
                    <tr><th>Active Securities</th><td>{{ statsActive }}</td></tr>
                    <tr><th>Matured Securities</th><td>{{ statsMatured }}</td></tr>
                    <tr><th>Total Issuers</th><td>{{ statsIssuers }}</td></tr>
                    <tr><th>Total Groups</th><td>{{ statsGroups }}</td></tr>
                    <tr><th>Total Sectors</th><td>{{ statsSectors }}</td></tr>
                    <tr><th>Total Industries</th><td>{{ statsIndustries }}</td></tr>
                    <tr><th>Total Users</th><td>{{ statsUsers }}</td></tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}