{% block form_errors %}
    {% spaceless %}
        {% if errors|length > 0 %}
            <ul class="g-unit messages">
                {% for error in errors %}
                    <li class="message message--error">{{ error.message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    {% endspaceless %}
{% endblock form_errors %}

{% block form_row %}
<div>
    <div class="form__group">
        {{ form_label(form, label|default(null), { 'label_attr': {'class': 'form__label'} }) }}
        {{ form_widget(form,  { 'attr': {'class': 'form__input'} }) }}
        {{ form_errors(form) }}
    </div>
</div>
{% endblock form_row %}

{% block button_row %}
<div>
    {{ form_widget(form) }}
</div>
{% endblock button_row %}

{% block text_widget %}
    {{ block('form_widget_simple') }}
{% endblock %}

{% block submit_widget %}
    {%- set type = type|default('submit') -%}
    {%- set attr = {
        'class': 'button button--fat'
    } -%}
    {{ block('button_widget') }}
{% endblock %}

