{% block form_errors %}
    {% spaceless %}
        {% if errors|length > 0 %}
            <ul class="form__errors alerts">
                {% for error in errors %}
                    <li class="alert alert--danger"><i class="material-icons">error</i> {{ error.message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    {% endspaceless %}
{% endblock form_errors %}

{% block form_row %}
<div>
    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
        {{ form_label(form, label|default(null), { 'label_attr': {'class': 'mdl-textfield__label'} }) }}
        {{ form_widget(form,  { 'attr': {'class': 'mdl-textfield__input'} }) }}
        {{ form_errors(form) }}
    </div>
</div>
{% endblock form_row %}

{% block button_row %}
<div>
    {{ form_widget(form) }}
</div>
{% endblock button_row %}

{% block text_widget %}
    {{ block('form_widget_simple') }}
{% endblock %}

{% block submit_widget %}
    {%- set type = type|default('submit') -%}
    {%- set attr = {
        'class': 'mdl-button mdl-js-button mdl-button--raised mdl-button--colored mdl-js-ripple-effect'
    } -%}
    {{ block('button_widget') }}
{% endblock %}

