{% extends 'AppBundle::base.html.twig' %}

{% use "AppBundle::groups/_base.html.twig" %}

{% block content %}
    <div class="grid g-unit">
        <div class="g 1/2@xl">
            <h2>Issuance {{ activeYear }}</h2>
        </div>
        <div class="g 1/2@xl text--right g--align-center">
            <div>
                <h3 class="invisible">Year:</h3>
                <ol class="inline list--inline">
                    {% for year in years %}
                        <li><a class="link--button
                            {% if activeYear == year %}link--button-active{% endif %}
                            " href="{{ path('group_issuance', { group_id : group.id, year : year }) }}">{{ year }}</a></li>
                    {% endfor %}
                </ol>
            </div>
        </div>
        {% if hasData %}
            <div class="g">
                <div class="text--prose">
                    <p>
                        This issuance shows the number of new securities issued by
                        <strong>{{ group.name }}</strong> for <strong>{{ activeYear }}</strong>.
                        They are grouped by product. Click any data set to see the full list of securities for that month.
                    </p>
                </div>
            </div>
            <div class="g">
                {% include issuanceGraph.templatePath with issuanceGraph.vars only %}
            </div>
            <div class="g">
                {% include issuanceTable.templatePath with issuanceTable.vars only %}
            </div>
        {% else %}
            <div class="g">
                <div class="text--prose">
                    <p>
                        There was no issuance for <strong>{{ group.name }}</strong>
                        {% if activeYear %}
                            in <strong>{{ activeYear }}</strong>
                            Choose another year to see data.
                        {% endif %}.
                    </p>
                </div>
            </div>
        {% endif %}
    </div>
{% endblock %}
