{% extends 'AppBundle::base.html.twig' %}

{% use "AppBundle::groups/_base.html.twig" %}

{% block content %}
    <div class="g-unit">
        <div class="grid grid--flush">
            <div class="g 1/2@xl">
                <h2>Yield {{ activeYear }}</h2>
            </div>
            <div class="g 1/2@xl text--right g--align-center">
                <div>
                    <h3 class="invisible">Year:</h3>
                    <ol class="inline list--inline">
                        {% for year in years %}
                            <li><a class="link--button
                                {% if activeYear == year %}link--button-active{% endif %}
                                " href="{{ path('groups_yield', { group_id : group.id, year : year }) }}">{{ year }}</a></li>
                        {% endfor %}
                    </ol>
                </div>
            </div>
        </div>
    </div>
    <div>
        {% if yieldData %}
            <p class="g-unit">Currency: {{ yieldData.currency.code }}</p>
            <div class="grid g-unit">
                <div id="chart-area" class="g g--align-center" style="height: 400px">
                    <p class="text--center">Drawing graph...</p>
                </div>
            </div>
            <noscript>
            <table class="table table--striped" id="chart-table">
                <thead>
                    <th>Year</th>
                    <th>Value</th>
                </thead>
                <tbody>
                    {% for year, value in yieldData.dataPoints %}
                        <tr>
                            <td>{{ year }}</td>
                            <td>{{ value }}%</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
            </noscript>
            <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
            <script>
                google.charts.load('current', {'packages':['corechart']});
                google.charts.setOnLoadCallback(drawChart);
                function drawChart() {
                    var data = new google.visualization.DataTable(),
                        options = {
                            height: 400,
                            curveType: 'function',
                            legend: {position:'none'},
                            axisTitlesPosition: 'out',
                            lineWidth: 6,
                            pointSize: 0,
                            vAxis: {
                                title: '%'
                            },
                            hAxis: {
                                title: 'Year',
                                maxValue: 30
                            },
                            backgroundColor: 'transparent',
                            colors: ['#3a0676'],
                            chartArea: {
                                left: 64,
                                top: 24,
                                height: 324,
                                width: '92%'
                            },
                            pointsVisible: true
                        },
                        rows = {{ graphData|json_encode|raw }},
                        len = rows.length,
                        chart, i, largest = 0;
                    data.addColumn('number', 'Year');
                    data.addColumn('number', '%');
                    data.insertRows(0, [rows[0]]);

                    for(i=0;i<len;i++) {
                        if (rows[i][1] > largest) {
                            largest = rows[i][1];
                        }
                    }
                    console.log(largest);
                    options.vAxis.maxValue = Math.ceil(largest);

                    chart = new google.visualization.LineChart(document.getElementById('chart-area'));
                    chart.draw(data, options);

                    function addRow(row) {
                        data.insertRows(row, [rows[row]]);
                        chart.draw(data, options);
                        row++;
                        if (row < len) {
                            setTimeout(function() {
                                addRow(row);
                            },5);
                        } else {
                            options.pointSize = 12;
                            chart.draw(data, options);
                        }
                    }

                    setTimeout(function() {
                        addRow(1);
                    },50)
                }
            </script>
        {% else %}
            <p>No data available for {{ group.name }} in {{ activeYear }}</p>
        {% endif %}
    </div>
{% endblock %}
