{% extends 'AppBundle::base.html.twig' %}

{% use "AppBundle::issuers/_base.html.twig" %}

{% block content %}
    <div class="grid grid--flush g-unit">
        <div class="g 1/2@xl">
            <h2>Issuance {{ activeYear }}</h2>
        </div>
        <div class="g 1/2@xl text--right g--align-center">
            <div>
                <h3 class="invisible">Year:</h3>
                <ol class="inline list--inline">
                    {% for year in years %}
                        <li><a class="link--button
                            {% if activeYear == year %}link--button-active{% endif %}
                            " href="{{ path('issuers_issuance', { issuer_id : issuer.id, year : year }) }}">{{ year }}</a></li>
                    {% endfor %}
                </ol>
            </div>
        </div>
    </div>
    {% if hasData %}
    <div class="grid">
        <div id="chart-area" class="g g--align-center" style="height: 400px">
            <p class="text--center">Drawing graph...</p>
        </div>
        <div class="g">
        <table class="table table--striped">
            <thead>
            <tr>
                <th>Product</th>
                {% for month in months %}
                    <th>{{ month }}</th>
                {% endfor %}
            </tr>
            </thead>
            <tbody>
            {% for product in productCounts %}
                <tr>
                    <th>{{ product.product.name }}</th>
                    {% for count in product.months %}
                        <td>{{ count }}</td>
                    {% endfor %}
                </tr>
            {% endfor %}
            </tbody>
        </table>
        </div>
    </div>
    <script>
        google.charts.setOnLoadCallback(drawChart);
        function drawChart() {
            var sourceData = {{ graphData|json_encode|raw }},
                data = google.visualization.arrayToDataTable(sourceData),
                options = {
                    height: 400,
                    legend: {position: 'right'},
                    backgroundColor: 'transparent',
                    isStacked: true,
                    animation: {
                        duration: 400,
                        startup: true
                    },
                    chartArea: {
                        left: 32,
                        top: 24,
                        height: 352,
                        width: '75%'
                    },
                    axisTitlesPosition: 'in',
                    colors: ['#3A0676', '#E6E0EE', '#532587', '#6B4498', '#8463A9', '#9D83BB', '#B5A2CC', '#CEC1DD']
                },
            chart = new google.visualization.ColumnChart(document.getElementById('chart-area'));
            chart.draw(data, options);
        }
    </script>
    {% else %}
        <p>No issuance for {{ activeYear }}</p>
    {% endif %}
{% endblock %}
