{% extends 'AppBundle::base.html.twig' %}

{% block body %}
    <h1 class="g-unit">{{ meta.title }}</h1>
    <p class="g-unit text--right d">{{ pagination.total }} results</p>
    <div class="grid">
        <div class="g 1/4@xl">
            <div class="card card--padded">
                <ol class="list--unstyled">
                    {% for letter in letters %}
                        <li>{%
                            if letter.active
                                %}<a href="#letter-{{ letter.text }}">{{ letter.text }}</a>{%
                            else
                                %}{{ letter.text }}{%
                            endif %}</li>
                    {% endfor %}
                </ol>
            </div>
        </div>
        <div class="g 3/4@xl">
            <div>
            {% for letter, group in groups %}
                <div class="card card--padded g-unit" id="letter-{{ letter }}">
                    <h2>{{ letter }}</h2>
                    <ul>
                        {%  for issuer in group %}
                            <li>{% include issuer.templatePath with issuer.vars only %}</li>
                        {%  endfor %}
                    </ul>
                </div>
            {%  endfor %}
            </div>
        </div>
    </div>
{% endblock %}
