{% extends 'AppBundle::base.html.twig' %}

{% use "AppBundle::issuers/_base.html.twig" %}

{% block content %}
<div class="g-unit">
    <div class="grid grid--flush">
        <div class="g 3/4@xl">
            <div>
            <h2 class="g-unit">Latest issuance</h2>
                {% if hasSecurities %}
                    {% include '@partials/securities-list.html.twig' %}
                    <p><a class="link--button" href="{{ path('issuers_securities', { issuer_id : issuer.id }) }}">Show all</a></p>
                {% else %}
                    <p>No securities have been issued by {{ issuer.name }}</p>
                {% endif %}
            </div>
        </div>
        <div class="g 1/4@xl">
            <div>
                <div class="card card--padded g-unit text--center">
                    <a class="link--hidden" href="{{ path('issuers_securities', { issuer_id : issuer.id }) }}">
                        <h2 class="d">Securities</h2>
                        <p class="a">{{ count }}</p>
                    </a>
                </div>
                <div class="card card--padded g-unit text--center">
                    <h2 class="d">Amount raised</h2>
                    <p class="a">£{{ totalRaised }}m</p>
                </div>
            </div>
        </div>

    </div>
</div>
{% endblock %}
