{% extends 'AppBundle::base.html.twig' %}

{% use "AppBundle::issuers/_base.html.twig" %}

{% block content %}
<div class="g-unit">
    <div class="grid grid--flush">
        <div class="g 1/2@xl">
            <h2>Securities</h2>
        </div>
        <div class="g 1/2@xl text--right g--align-center">
            <div>
                <h3 class="invisible">Product:</h3>
                <ol class="inline list--inline">
                    <li><a class="link--button {% if activeProduct == 'all' %}link--button-active{% endif %}" href="{{ path('issuers_show', { issuer_id : issuer.id }) }}">All</a></li>
                    {% for product in products %}
                        <li><a class="link--button {% if activeProduct == product.id %}link--button-active{% endif %}" href="{{ path('issuers_securities', { issuer_id : issuer.id, product_id : product.id }) }}">{{ product.name }}</a></li>
                    {% endfor %}
                </ol>
            </div>
        </div>
        <div class="g 1/2@xl">
            <p class="d">Total: £{{ totalRaised }}m</p>
        </div>
        <div class="g 1/2@xl text--right">
            <p class="d">{{ pagination.total }} results</p>
        </div>
    </div>
</div>
{% include '@partials/securities-list.html.twig' %}
{% include pagination.templatePath with pagination.vars only %}
{% endblock %}
