<tr onclick="window.location.href='{{ path('security_show',{'isin':security.isin}) }}'">
    <td><a class="security__link" href="{{ path('security_show',{'isin':security.isin}) }}">
            {{ security.isin }}
        </a></td>
    <td>{% include security.amountRaised.templatePath with security.amountRaised.vars only %}</td>
    <td>{{ security.product }}</td>
    <td>{{ security.issueDate }}</td>
    <td>{{ security.maturityDate }}</td>
    <td>{{ security.coupon }}</td>
    <td>{{ security.currency }}</td>
</tr>