<div class="security">
    <table class="table g-unit table--lined">
        <tbody>
        <tr>
            <th>ISIN:</th><td>{{ security.isin }}</td>
        </tr>
        <tr>
            <th>Description:</th><td>{{ security.name }}</td>
        </tr>
        <tr>
            <th>Product:</th><td>{{ security.product }}</td>
        </tr>
        <tr>
            <th>Issuer:</th>
            <td>
                {% if security.hasIssuer %}
                    <a href="{{ path('issuer_show', { issuer_id : security.issuerID }) }}">{{ security.issuer }}</a>
                {% endif %}
            </td>
        </tr>
        <tr>
            <th>Country:</th>
            <td>
                {% if security.hasCountry %}
                    {{ security.getCountry }}
                {% endif %}
            </td>
        </tr>
        <tr>
            <th>Parent group:</th>
            <td>
                {% if security.hasParentGroup %}
                    <a href="{{ path('group_show', { group_id : security.parentGroupID }) }}">{{ security.parentGroup }}</a>
                {% endif %}
            </td>
        </tr>
        <tr>
            <th>Sector:</th>
            <td>
                {% if security.hasSector %}
                    <a href="{{ path('sector_show', { sector_id : security.sectorID }) }}">{{ security.sector }}</a>
                {% endif %}
            </td>
        </tr>
        <tr>
            <th>Industry:</th>
            <td>
                {% if security.hasIndustry %}
                    <a href="{{ path('industry_show', { industry_id : security.industryID }) }}">{{ security.industry }}</a>
                {% endif %}
            </td>
            </tr>
        <tr>
            <th>Amount raised:</th><td>{% include security.amountRaised.templatePath with security.amountRaised.vars only %}</td>
        </tr>
        <tr>
            <th>Currency:</th><td>{{ security.currency }}</td>
        </tr>
        <tr>
            <th>Issue date:</th><td>{{ security.issueDate }}</td>
        </tr>
        <tr>
            <th>Maturity date:</th><td>{{ security.maturityDate }}</td>
        </tr>
        <tr>
            <th>Coupon:</th><td>{{ security.coupon }}</td>
        </tr>
        <tr>
            <th>Initial term:</th><td>{{ security.initialTerm }}</td>
        </tr>
        <tr>
            <th>Remaining:</th><td>{{ security.remainingTerm }}</td>
        </tr>
        </tbody>
    </table>
</div>