<div class="text--center pagination g-unit">
{% if pagination.showStatus %}
    <p class="pagination__status g-unit">Showing {{ pagination.start }} - {{ pagination.end }} of {{ pagination.total }}</p>
{% endif %}
{% if pagination.isActive %}
    <nav>
        <ol class="pagination__list">
            <li>{%
                if pagination.prevUrl %}
                    <a class="pagination__item pagination__item--link pagination__item--prev"
                       href="{{ pagination.prevUrl }}">
                        <svg viewBox="0 0 24 24" class="pagination__icon pagination__icon--prev">
                            <use xlink:href="#icon-arrow"></use>
                        </svg>{#
                        #}<span class="pagination__text">Previous</span>
                    </a>
                {% else %}
                    <span class="pagination__item pagination__item--disabled pagination__item--prev">
                        <svg viewBox="0 0 24 24" class="pagination__icon pagination__icon--prev">
                            <use xlink:href="#icon-arrow"></use>
                        </svg>{#
                        #}<span class="pagination__text">Previous</span>
                    </span>
                {% endif
                %}</li>
            <li>{%
                if pagination.nextUrl %}
                    <a class="pagination__item pagination__item--link pagination__item--next"
                       href="{{ pagination.nextUrl }}">
                        <span class="pagination__text">Next</span>{#
                        #}<svg viewBox="0 0 24 24" class="pagination__icon pagination__icon--next">
                            <use xlink:href="#icon-arrow"></use>
                        </svg>
                    </a>
                {% else %}
                    <span class="pagination__item pagination__item--disabled pagination__item--next">
                        <span class="pagination__text">Next</span>{#
                        #}<svg viewBox="0 0 24 24" class="pagination__icon pagination__icon--next">
                            <use xlink:href="#icon-arrow"></use>
                        </svg>
                    </span>
                {% endif
                %}</li>
        </ol>
    </nav>
{% endif %}
</div>