<tr>
    <td><a class="security__link" href="{{ path('security_show',{'isin':security.isin}) }}">
            {{ security.isin }}
        </a></td>
    <td>{{ security.maturityDate }}</td>
    <td>{{ security.amount }}</td>
    <td>{{ security.coupon }}</td>
    <td>{{ security.startDate }}</td>
    <td>{{ security.currency }}</td>
    <td>{{ security.product }}</td>
</tr>