{% extends 'AppBundle::base.html.twig' %}
{% block title %}Users{% endblock %}
{% block crumb %}
<a href="{{ path('users_list') }}" class="mdl-button mdl-js-button mdl-js-ripple-effect">Users</a>
{% endblock %}

{% block body %}




<div class="demo-graphs mdl-shadow--2dp mdl-color--white mdl-cell mdl-cell--12-col intro">
    <h1>Users</h1>
    <a class="addbutton mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect mdl-button--colored"
       href="{{ path('users_new') }}"><i class="material-icons">add</i></a>
</div>

    <table class="mdl-data-table mdl-js-data-table mdl-shadow--2dp mdl-cell mdl-cell--12-col">
        <thead>
        <tr>
            <th class="mdl-data-table__cell--non-numeric">Name</th>
            <th class="mdl-data-table__cell--non-numeric">E-mail</th>
            <th class="mdl-data-table__cell--non-numeric">Registered</th>
        </tr>
        </thead>
        <tbody>
        {% for user in users %}
            <tr>
                <td class="mdl-data-table__cell--non-numeric">
                    <a href="/users/{{ user.key }}">{{ user.name }}</a>
                </td>
                <td class="mdl-data-table__cell--non-numeric">
                    <a href="/users/{{ user.key }}">{{ user.email }}</a>
                </td>
                <td class="mdl-data-table__cell--non-numeric">
                    {{ user.createdAt.format('j M Y') }}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

<div class="demo-graphs mdl-shadow--2dp mdl-color--white mdl-cell mdl-cell--12-col">
    {% include pagination.templatePath with pagination.vars only %}
</div>

{% endblock %}
