<li class="finder__item {{ finderitem.class }}">
    <a href="{{ finderitem.url }}" title="{{ finderitem.title }}" class="finder__link">
        <span class="finder__indicator {{ finderitem.indicatorClass }}">{{ finderitem.icon|raw }}</span>
        <span class="finder__text">
            {{ finderitem.title }}
        </span>
    </a>
    {% if finderitem.items %}
        <div class="finder__sub">
            <h2 class="h6 finder__heading">{{ finderitem.heading }}</h2>
            <ol class="finder__list">
            {% for item in finderitem.items %}
                {% include item.templatePath with item.vars only %}
            {% endfor %}
            </ol>
        </div>
    {% endif %}
</li>